<!DOCTYPE html>
<html>
  <head>
    <title>Greeting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Greeting</h1>
    <p><h3>Welcome  to NodeJS!</h3></p>
  </body>
</html>
