<!DOCTYPE html>
<html>
  <head>
    <title>Greeting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><h3>Nice to see you here <%=user.toUpperCase() %>!</h3></p>
  </body>
</html>
